.callout.primary {
    background-color: #b1a78a;
}

.title-bar {
    background: #a07b4f;
    color: #dad7cd;
    padding: .5rem;
}

.anchor {
    color: #a07b4f;
}

.anchor:hover {
    color: #a3b18a;
}

.button.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #a07b4f;
}

.button.expanded:hover {
    background-color: #9c8f7f;
}
